@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-[54px]/16 md:text-[84px];
}

h2 {
  @apply text-xl md:text-4xl;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

.font-cormorant-300 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.font-cormorant-700 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.perspective-\[2000px\] {
  perspective: 2000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

#paymentBrick_container form {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

